<h2>
	<%= @casein_page_title %>
	<%= link_to "#{casein_show_icon "plus-sign"}Novo Teste de Vazão".html_safe, new_casein_vazao_agua_path, class: "pull-right" %>
</h2>

<%= render :partial => 'casein/vazoes_agua/table' %>