<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag 'imprimir.css' %>
  </head>
  <body onload="number_pages_pdf()" class="pdf_report">
    <div class="container">
      <div id="content">
        <div class="row">
          <div class="col-xs-12 content-bottom-padding">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>