$('<option value="<%= @bitola.id %>"><%= @bitola.descricao %></option>').appendTo('.select_bitola:last-child');
$('.select_bitola:last-child').select2('val', '<%= @bitola.id %>'); // select the new term
$('.select_bitola:last-child').select2('close');	// close the dropdown
