<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body >
    <div class="text-center">
      <h1>Alerta de Manutenção</h1>
      <p>O poço <b><%= @poco.nome_intuitivo %></b>, está próximo da data de manutenção.</p>
    </div>
  </body>
</html>
