$('<option value="<%= @maquina.id %>"><%= @maquina.descricao %></option>').appendTo('.select_maquina:last-child');
$('.select_maquina:last-child').select2('val', '<%= @maquina.id %>'); // select the new term
$('.select_maquina:last-child').select2('close');	// close the dropdown
